.load-more-btn, .social-link, .slider__btn, .pagination, .hero__btn, .nav__outer-link, .nav-list, .header__wrap, .btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

.mobile-app__link, .hero__btn {
  gap: 8px;
  border-radius: 100px;
  background-color: #e1d4c9;
  color: inherit;
  font-weight: 600;
  /*
  color: var(--Text-Dark, #403F3D);
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;

  line-height: 1.5; 
  */
}

.menu__heading, .footer__heading, .mobile-app__heading, .about__heading, .favorite-coffee__heading {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .menu__heading, .footer__heading, .mobile-app__heading, .about__heading, .favorite-coffee__heading {
    font-size: 60px;
  }
}

.menu__heading--accent, .footer__heading--accent, .mobile-app__heading--accent, .about__heading--accent, .favorite-coffee__heading--accent {
  font-style: italic;
  color: #b0907a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  color: #403f3d;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: #e1d4c9;
}

section {
  margin-bottom: 100px;
}

html {
  scroll-behavior: smooth;
}

.container {
  outline: 1px dashed tomato;
  margin-inline: auto;
  padding-inline: 16px;
  /* max-width: 380px; */
}
@media screen and (min-width: 380px) {
  .container {
    max-width: 380px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.btn-burger {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #665f55;
  /* background-color: $background-color-body; */
  background-color: transparent;
  margin-left: auto;
}
.btn-burger__icon {
  stroke: #403f3d;
}
@media screen and (min-width: 1440px) {
  .btn-burger {
    display: none;
  }
}

header {
  padding-block: 20px;
}

.header__wrap {
  min-width: 100%;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header__nav {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
  }
}

.nav-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  color: inherit;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #403f3d;
  opacity: 0;
  -webkit-transition-property: opacity, none, none, -webkit-transform;
  transition-property: opacity, none, none, -webkit-transform;
  transition-property: transform, opacity, none, none;
  transition-property: transform, opacity, none, none, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.nav__link:hover:after, .nav__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.nav__outer-link {
  gap: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.link__icon {
  fill: transparent;
  stroke: currentColor;
}

.hero__background {
  width: 100%;
  border-radius: 40px;
  background-color: #fff;
  background-image: url("../../images/hero/img-hero.jpg");
  background-position: 50% 50%;
  background-size: cover;
  padding: 60px 16px;
}
@media screen and (min-width: 768px) {
  .hero__background {
    padding: 100px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__background {
    padding: 100px 100px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__wrapper {
    width: 530px;
  }
}
.hero__heading {
  margin-bottom: 40px;
  color: #e1d4c9;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.15;
}
.hero__heading--accent {
  color: #b0907a;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 72px;
    line-height: 1.05;
  }
}
.hero__content {
  margin-bottom: 40px;
  color: #e1d4c9;
}

.hero__btn {
  max-width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero__btn .btn-icon {
  fill: transparent;
  stroke: currentColor;
}
@media screen and (min-width: 1440px) {
  .hero__btn:hover, .hero__btn:focus {
    cursor: pointer;
  }
  .hero__btn .btn-icon {
    opacity: 0;
    -webkit-transition-property: opacity, none, none, none;
    transition-property: opacity, none, none, none;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .hero__btn:hover .btn-icon, .hero__btn:focus .btn-icon {
    opacity: 1;
  }
  .hero__btn .btn-text {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    -webkit-transition-property: color, none, none, -webkit-transform;
    transition-property: color, none, none, -webkit-transform;
    transition-property: transform, color, none, none;
    transition-property: transform, color, none, none, -webkit-transform;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .hero__btn:hover .btn-text, .hero__btn:focus .btn-text {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.favorite-coffee__heading {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .favorite-coffee__heading {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.card {
  margin-bottom: 40px;
  margin-inline: auto;
  max-width: 348px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .card {
    max-width: 480px;
  }
}

.card__img {
  margin-bottom: 20px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__name {
  margin-bottom: 16px;
  color: #403f3d;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.card__description {
  margin-bottom: 16px;
}

.card__price {
  color: #403f3d;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.pagination {
  gap: 12px;
}
.pagination__dot {
  height: 4px;
  width: 40px;
  border: 2px solid #c1b6ad;
  border-radius: 100px;
}
.pagination__dot--current {
  border-color: #665f55;
}

.slider {
  position: relative;
}

.slider__btn {
  position: absolute;
  width: 60px;
  height: 60px;
  stroke: #403f3d;
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: #e1d4c9;
  -webkit-transition-property: background-color, stroke, none, none;
  transition-property: background-color, stroke, none, none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: calc(768px - 1px)) {
  .slider__btn {
    display: none;
  }
}
.slider__btn.btn--prev {
  left: 0;
  top: calc(50% - 52px);
}
@media screen and (min-width: 1440px) {
  .slider__btn.btn--prev {
    left: 4px;
  }
}
.slider__btn.btn--next {
  right: 0;
  top: calc(50% - 52px);
}
@media screen and (min-width: 1440px) {
  .slider__btn.btn--next {
    right: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .slider__btn {
    cursor: pointer;
  }
  .slider__btn:hover, .slider__btn:focus {
    stroke: #e1d4c9;
    background-color: #665f55;
  }
}

.about__heading {
  margin-bottom: 40px;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 1060px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
}
.gallery__item {
  margin-bottom: 40px;
  height: 590px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: calc(1440px - 1px)) {
  .gallery__item:nth-child(2), .gallery__item:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__item {
    width: 660px;
    margin-bottom: 0px;
  }
  .gallery__item:nth-child(2), .gallery__item:nth-child(3) {
    height: 430px;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: scale(1.23);
          transform: scale(1.23);
  -webkit-transition-property: none, none, none, -webkit-transform;
  transition-property: none, none, none, -webkit-transform;
  transition-property: transform, none, none, none;
  transition-property: transform, none, none, none, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (min-width: 768px) {
  .gallery__img {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
}
@media screen and (min-width: 1440px) {
  .gallery__img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.gallery__item:hover .gallery__img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 1440px) {
  .mobile-app__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile-app__heading {
  margin-bottom: 40px;
  width: 100%;
}
.mobile-app__text {
  margin-bottom: 40px;
}

.mobile-app__list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .mobile-app__list {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-app__list {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .mobile-app__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-app__list-item {
    display: inline-block;
  }
  .mobile-app__list-item:not(:last-child) {
    margin-right: 16px;
  }
}

.mobile-app__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 12px 20px;
  border: 1px solid #665f55;
  -webkit-transition-property: background-color, color, none, none;
  transition-property: background-color, color, none, none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (min-width: 1440px) {
  .mobile-app__link:hover, .mobile-app__link:focus {
    background-color: #665f55;
    color: #e1d4c9;
  }
}
.mobile-app__link .btn__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-app__link .btn__first-string {
  color: inherit;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
}
.mobile-app__link .btn__second-string {
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.btn__icon {
  fill: currentColor;
}

.mobile-app__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mobile-app__img {
    margin-inline: auto;
    width: 630px;
  }
}

footer {
  margin-bottom: 40px;
  color: #e1d4c9;
}

.footer__background {
  padding: 60px 16px;
  border-radius: 40px;
  background-color: #665f55;
}
@media screen and (min-width: 768px) {
  .footer__background {
    padding: 100px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .offer__wrap {
    -ms-flex-preferred-size: 530px;
        flex-basis: 530px;
  }
}

.footer__heading {
  margin-bottom: 40px;
}
.socials {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .socials {
    margin-bottom: 0px;
  }
}

.social-link {
  width: 60px;
  height: 60px;
  color: inherit;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background-color: transparent;
  -webkit-transition-property: background-color, color, none, none;
  transition-property: background-color, color, none, none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.social-link__icon {
  stroke: currentColor;
}
@media screen and (min-width: 1440px) {
  .social-link:hover, .social-link:focus {
    background-color: #e1d4c9;
    color: #403f3d;
  }
}

.contacts__title {
  margin-bottom: 40px;
  display: block;
  color: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.contacts__item:not(:last-child) {
  margin-bottom: 16px;
}
.contacts__link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  padding-bottom: 4px;
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
.contacts__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #e1d4c9;
  opacity: 0;
  -webkit-transition-property: opacity, none, none, -webkit-transform;
  transition-property: opacity, none, none, -webkit-transform;
  transition-property: transform, opacity, none, none;
  transition-property: transform, opacity, none, none, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (min-width: 1440px) {
  .contacts__link:hover:after, .contacts__link:focus::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
.contacts__icon {
  stroke: currentColor;
}
.contacts__schedule {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.menu__heading {
  margin-bottom: 40px;
  text-align: center;
}
.menu__select {
  margin-bottom: 40px;
  outline: 3px dotted red;
}

.menu__btn {
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: #e1d4c9;
}

.menu__list {
  margin-bottom: 40px;
  outline: 3px dotted blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
@media screen and (min-width: 768px) and (max-width: calc(1440px - 1px)) {
  .menu__list {
    padding-inline: 14px;
  }
}

.menu__item {
  margin-inline: auto;
}

.categories {
  margin-bottom: 40px;
}

.load-more-btn {
  margin-inline: auto;
  width: 60px;
  height: 60px;
  stroke: #403f3d;
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: #e1d4c9;
  -webkit-transition-property: background-color, stroke, none, none;
  transition-property: background-color, stroke, none, none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.load-more-btn:hover, .load-more-btn:focus {
  stroke: #e1d4c9;
  background-color: #665f55;
}

.product {
  width: 310px;
  border: 1px solid #c1b6ad;
  border-radius: 40px;
}
.product__img-thumb {
  height: 310px;
  width: 100%;
  overflow: hidden;
  border-radius: 40px;
}
.product__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.product__wrap {
  width: 100%;
  height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}
.product__name, .product__price {
  color: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.product__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}/*# sourceMappingURL=main.css.map */