.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  color: #403f3d;
  background-color: #e1d4c9;
}

.container {
  outline: 1px dashed tomato;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  /* max-width: 380px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 380px) {
  .container {
    max-width: 380px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.btn-burger {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  /* background-color: $background-body-color; */
  background-color: transparent;
  margin-left: auto;
}
.btn-burger__icon {
  stroke: #403f3d;
}
@media screen and (min-width: 1440px) {
  .btn-burger {
    display: none;
  }
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
  }
}

.nav-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  background-color: #5ff;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  color: inherit;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #403f3d;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.nav__outer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 2px;
  padding-bottom: 2px;
  /* margin-left: auto; */
}

.link__icon {
  fill: transparent;
  stroke: currentColor;
  margin-left: 8px;
}/*# sourceMappingURL=main.css.map */