.about__heading {
  margin-bottom: 40px;

  width: 100%;

  @extend %heading;

  &--accent {
    @extend %heading--accent;
  }
}

.gallery {
  &__item {
    margin-bottom: 40px;

    // display: block;
    height: 590px;
    width: 100%;
    // width: 348px;

    border-radius: 20px;
    overflow: hidden;

    outline: 2px dotted blue;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    // object-position: -50px 0px;
    object-position: center;

    // Mobile Scale
    transform: scale(1.23);
    @media screen and (min-width: $tablet) {
      transform: scale(1.06);
    }

    @include transition-props(transform);

    outline: 2px dotted yellow;
  }

  &__item:hover &__img {
    transform: scale(1);
  }
}
