.hero {
  &__background {
    width: 100%;

    border-radius: 40px;
    padding: 60px 16px;

    background-color: $background-color-container;
    background-image: url("../images/hero/img-hero.jpg");
    background-position: 50% 50%;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      padding: 100px 60px;
    }
    @media screen and (min-width: $desktop) {
      padding: 100px 100px;
    }
  }

  &__wrapper {
    @media screen and (min-width: $desktop) {
      width: 530px;
    }
  }

  &__heading {
    margin-bottom: 40px;

    @include typography($text-color-light, 42px, 600, 1.15);

    &--accent {
      color: $text-color-accent;
      font-style: italic;
    }

    @media screen and (min-width: $tablet) {
      font-size: 72px;
      line-height: 1.05;
    }
  }

  &__content {
    margin-bottom: 40px;

    color: $text-color-light;
  }
}

.hero__btn {
  @extend %btn-primary;
  @extend %flex-centered;

  max-width: 200px;

  padding-top: 20px;
  padding-bottom: 20px;

  & .btn-icon {
    fill: transparent;
    stroke: currentColor;
  }

  // transition for Button only on the Desktop
  @media screen and (min-width: $desktop) {
    &:hover,
    &:focus {
      cursor: pointer;
    }

    & .btn-icon {
      opacity: 0;
      @include transition-props(opacity);
    }

    &:hover .btn-icon,
    &:focus .btn-icon {
      opacity: 1;
    }

    & .btn-text {
      transform: translateX(15px);
      @include transition-props(transform, color);
    }

    &:hover .btn-text,
    &:focus .btn-text {
      transform: translateX(0);
    }
  }
}
