.menu__heading {
  margin-bottom: 40px;
  margin-inline: auto;

  max-width: 800px;

  @extend %heading;
  text-align: center;

  &--accent {
    @extend %heading--accent;
  }
}

.menu__select {
  margin-bottom: 38px;

  display: flex;
  gap: 8px;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }
}

// .menu-btn {
//   @extend %flex-centered;
//   gap: 8px;

//   border-radius: 100px;
//   padding: 8px 16px 8px 8px;
//   border: 1px solid $border-color-light;
//   background-color: transparent;

//   @include transition-props(background-color, color);

//   &.active,
//   &:hover,
//   &:focus {
//     background-color: $background-color-container;

//     & .menu-btn__icon {
//       background-color: $background-color-body;
//     }

//     & .menu-btn__name {
//       color: $text-color-light;
//     }
//   }

//   &__icon {
//     width: 30px;
//     height: 30px;

//     border-radius: 50%;
//     background-color: $border-color-light;

//     background-repeat: no-repeat;
//     background-size: 16px;
//     background-position: 50% 50%;

//     &--coffee {
//       background-image: url("../images/icons/icon-coffee.png");
//     }
//     &--tea {
//       background-image: url("../images/icons/icon-tea.png");
//     }
//     &--dessert {
//       background-image: url("../images/icons/icon-dessert.png");
//     }
//   }

//   &__name {
//     @include typography(inherit, 16px, 600, 1.5);
//   }
// }

.menu__list {
  margin-bottom: 40px;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px) ) {
    padding-inline: 14px;
  }
}

.menu__item {
  margin-inline: auto;
}

.categories {
  margin-bottom: 40px;
}

.load-more-btn {
  margin-inline: auto;
  width: 60px;
  height: 60px;

  @extend %flex-centered;

  stroke: $text-color-dark;

  border-radius: 100px;
  border: 1px solid $border-color-dark;
  background-color: $background-color-body;

  @include transition-props(background-color, stroke);

  &:hover,
  &:focus {
    stroke: $text-color-light;
    background-color: $background-color-container;
  }
}
