.menu__heading {
  margin-bottom: 40px;

  // width: 100%;

  @extend %heading;

  text-align: center;

  &--accent {
    @extend %heading--accent;
  }
}

// .menu-list-wrap {
//   // display: inline-block;

// }
.menu__select {
  margin-bottom: 40px;
  outline: 3px dotted red;
  // display: flex;
  // margin-inline: auto;
}

.menu__btn {
  border-radius: 100px;
  border: 1px solid $border-color-dark;
  background-color: $background-color-body;
}

.menu__list {
  // width: 660px;
  // margin-inline: auto;
  margin-bottom: 40px;

  outline: 3px dotted blue;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px) ) {
    padding-inline: 14px;
  }

  // @media screen and (min-width: $desktop) {
  //   padding-inline: 0;
  // }
}

.menu__item {
  // margin-bottom: 40px;
  margin-inline: auto;

  // @media screen and (min-width: $tablet) {
  //   margin: 0;
  // }
}

.categories {
  margin-bottom: 40px;
}

.load-more-btn {
  // position: absolute;
  margin-inline: auto;
  width: 60px;
  height: 60px;
  @extend %flex-centered;

  stroke: $text-color-dark;

  border-radius: 100px;
  border: 1px solid $border-color-dark;
  background-color: $background-color-body;

  @include transition-props(background-color, stroke);

  &:hover,
  &:focus {
    stroke: $text-color-light;
    background-color: $background-color-container;
  }
}
