.menu__heading {
  margin-bottom: 40px;

  // width: 100%;

  @extend %heading;

  text-align: center;

  &--accent {
    @extend %heading--accent;
  }
}

.menu__item {
  margin-bottom: 40px;
}

.categories {
  margin-bottom: 40px;
}

.product {
  margin-inline: auto;

  width: 310px;
  // height: 310px;

  border: 1px solid $border-color-light;
  border-radius: 40px;

  &__img-thumb {
    height: 310px;
    width: 100%;

    overflow: hidden;
    border-radius: 40px;

    // outline: 2px dotted yellow;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: center;

    transform: scale(1.1);
  }

  &__wrap {
    width: 100%;
    height: 196px;

    display: flex;
    flex-direction: column;
    padding: 20px;

    // background-color: #aaf;
  }

  &__name,
  &__price {
    @include typography(inherit, 24px, 600, 1.25);
  }
}

//   @include typography(fcolor, fsz, fwt, lht);
.product__description {
  // background-color: #aa0;

  flex-grow: 1;
}

.load-more-btn {
  // position: absolute;
  margin-inline: auto;
  width: 60px;
  height: 60px;
  @extend %flex-centered;

  stroke: $text-color-dark;

  border-radius: 100px;
  border: 1px solid $border-color-dark;
  background-color: $background-color-body;

  @include transition-props(background-color, stroke);

  &:hover,
  &:focus {
    stroke: $text-color-light;
    background-color: $background-color-container;
  }
}
