.mobile-app__heading {
  margin-bottom: 40px;

  width: 100%;

  @extend %heading;

  &--accent {
    @extend %heading--accent;
  }
}

.mobile-app__text {
  margin-bottom: 40px;
}

.mobile-app__list {
  margin-bottom: 40px;
}

.mobile-app__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-app__link {
  // @extend %btn-primary;

  display: flex;
  // justify-content: center;
  align-items: center;

  gap: 8px;
  border-radius: 100px;

  color: $text-color-dark;
  background-color: $background-color-body;

  width: 200px;

  padding: 12px 20px;

  border: 1px solid $border-color-dark;

  .btn {
    &__text-wrap {
      display: flex;
      flex-direction: column;
      // gap: 2px;
    }

    &__first-string {
      @include typography(inherit, 10px, 600, 1.4);
    }

    &__second-string {
      @include typography(inherit, 16px, 600, 1.5);
    }
  }
}

.btn__icon {
  // fill: $text-color-dark;
  fill: currentColor;
}

.mobile-app__img {
  width: 100%;
}
