.btn-burger {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $border-dark-color;

  /* background-color: $background-body-color; */
  background-color: transparent;
  margin-left: auto;

  &__icon {
    stroke: $text-dark-color;
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}
