.btn-burger {
  width: 44px;
  height: 44px;
  position: relative;

  @extend %flex-centered;

  border-radius: 100px;
  border: 1px solid $border-color-dark;

  /* background-color: $background-color-body; */
  background-color: transparent;
  margin-left: auto;

  &__icon {
    position: absolute;
    stroke: $text-color-dark;

    @include transition-props(opacity);
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.btn-burger__icon--is-hidden {
  opacity: 0;
}
