.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 342px;
  min-height: 300px;

  border-radius: 40px;
  padding: 16px;

  background-color: $background-color-body;
}

.prod {
  &__name {
    margin-bottom: 12px;

    @include typography($text-color-dark, 24px, 600, 1.25);
  }

  &__description {
    margin-bottom: 20px;
  }

  &__options {
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__price {
    margin-bottom: 20px;

    display: flex;

    @include typography($text-color-dark, 24px, 600, 1.25);

    & span:last-child {
      margin-left: auto;
    }
  }

  &__alert {
    border-top: 1px solid $border-color-light;
    padding: 12px 0px;
    width: 310px;
    height: 66px;
    @include typography($text-color-dark, 10px, 600, 1.4);
  }
}
