.container {
  outline: 1px dashed tomato;
  // margin-left: auto;
  // margin-right: auto;
  margin-inline: auto;
  padding-left: 16px;
  padding-right: 16px;
  /* max-width: 380px; */
  // display: flex;
  // align-items: center;

  @media screen and (min-width: $mobile) {
    max-width: 380px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    // padding-right: 40px;
    padding-inline: 40px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1440px;
  }
}
