$text-color-dark: #403f3d;
$text-color-light: #e1d4c9;
$text-color-accent: #b0907a;

$background-color-body: #e1d4c9;
$background-color-container: #665f55;
$background-color-backdrop: rgba(64, 63, 61, 0.8);

$border-color-light: #c1b6ad;
$border-color-dark: #665f55;

$timing-function: ease-in;
$trans-duration: 500ms;

$desktop: 1440px;
$tablet: 768px;
$mobile: 380px;
